<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="css/style.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="navbar">
    		<div class="navitem">
    			<a href="index.html" class="navlink">H</a>
    		</div>
    		<div class="navitem">
        		<a href="sr_demo.html" class="navlink">SR</a>
      		</div>
      		<div class="navitem">
        		<a href="dl.html" class="navlink">DL</a>
      		</div>
    	</div>
    	<div class="content">
    		{{ content }}
    	</div>
    </body>
</html>
